<nav class="flexbox">
  <a [routerLink]="['/']">All</a>
  <ul>
      <li><a [routerLink]="['/active']">Active</a></li>
      <li><a [routerLink]="['/completed']">Completed</a></li>
      <li *ngIf="todos>0">
        <button class="save-button" nbButton hero status="danger" shape="semi-round" (click)="clearCompleted()">Clear completed</button>
      </li>
  </ul>
</nav>
