nav.flexbox {
  // background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  ul {
      display: flex;
      align-items: center;
  }

  ul li {
      margin-right: 20px;
      list-style-type: none;
      &:last-child {
          margin-right: 0px;
      }
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
