nb-layout-header
{
  display: flex!important;
  justify-content: flex-end;
}

nb-layout-column
{
  margin-left: 6rem;
  margin-right: 6rem;
  @media (max-width: 600px){
    margin-left: .1rem;
    margin-right: .1rem;
  }
}
