.flex-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-bottom: none;
  width: 100%;
}

.flex-container > div {
  display: flex;
  align-items: stretch;
  width: 100%;
  font-size: 18px;
  padding:.5rem;
}
.save-button
{
  margin-top: .5rem;
}
