
<nb-card size="medium">
  <nb-card-header>
    <input type="text" [formControl]="name" nbInput fullWidth shape="semi-round" placeholder="Todo">
    <button class="save-button" nbButton hero status="success" shape="semi-round" (click)="save()">Save</button>
  </nb-card-header>
  <nb-list>
    <nb-list-item *ngFor="let item of todos">
      <div class="flex-container">
        <div>
          <div style="flex-grow: 1">
            <nb-toggle [(ngModel)]="item.completed" (click)="update(item)"></nb-toggle>
          </div>
          <div style="flex-grow: 8">{{item.name}}</div>
          <div style="flex-grow: 1">
            <button (click)="delete(item)" nbButton hero status="danger" shape="semi-round">delete</button>
          </div>
        </div>
      </div>
    </nb-list-item>


  </nb-list>
</nb-card>

